
* {
    box-sizing: border-box; 
   padding: 0;
    margin: 0; 
}

/* Body backgrounf */
body {
    background-color: #d9dcd6;
}

/* header styling for font, background colour and Horiseon title */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
     color: #ffffff; 
}

/* font size and display style for header text */
.header h1 {
    display: inline-block;
    font-size: 48px;
    
}
/* Changes "seo" in Horiseon to light grey */
.header h1 .seo {
    color: #d9dcd6;
}

/* Upper right heading text font style size and page positioning */
.header div {

    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
/* redundant?? */
  /* .header div ul {
    list-style-type: none; 
} */ 

/* Upper right headings text display format */
 .header div ul li {
    display: inline-block;
    margin-left: 25px; 
} 

 a {
    color: #ffffff;
    text-decoration: none;
}

/* Default font size already 16px
 p {
    font-size: 16px; 
} */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* SEO and Social media Marketing image postioning */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Online reputation managament image positioning */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main body blocks styling */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Re-ordered CSS so that main body styling comes before side panel styling, to keep in order with HTML */ 
/* Main body information font, colour and background styling */
.main-body-styling {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* main body image height */
.main-body-styling img {
    max-height: 200px;
}
 /* main body h2 font and margin */
.main-body-styling h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* Side panel background box & font styling */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Side panel margin & Colour */
.benefit-styling {
    margin-bottom: 32px;
    color: #ffffff;
   
}

/* Side panel margin & h3 title centre */
.benefit-styling h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* side panel image styling */
.benefit-styling img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  
}

/* Default h2 size is 22px, change is not noticable on site. 
.footer h2 {
    font-size: 20px;
} */



